  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
  }

  .image {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #4CAF50;
    color: rgb(15, 15, 82); }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
