@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Comme&family=Itim&family=Josefin+Sans&family=Mukta&family=Pacifico&family=Prompt:wght@300&family=Raleway&family=Roboto:wght@300&family=Ysabeau&family=Zilla+Slab&display=swap');

body {
  font-family: 'Zilla Slab', serif;
  font-size: large;
  margin: auto;
  width: 100%;
}

.parent-container {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  margin: 3rem;
  padding: 3rem;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 18%;
  float: left;
  line-height: 2.4rem;
  font-size: 1.2rem;
  height: 32rem;
}

#parent-button {
  display: flex;
}

.details,
.delete {
  border: 1px solid white;
  border-radius: 8px;
  margin-left: 0.2rem;
  padding: 1rem;
  font-size: large;
  background-color: rgb(15, 15, 82);
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 25%;
    margin: 2rem;
    padding: 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 40%;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
  }
}
