<%- include('./includes/head.ejs')  %>

    <link rel="stylesheet" href="/style/firstpage.css">
    <link rel="stylesheet" href="/style/navigation.css">
  </head>
  <body>

<%- include('./includes/navigation.ejs')  %>

<div class="container">
  <div class="fl">
<div class="main">
  <div class="heading">Welcome to E-Marketplace of Potato</div>
  <h1 class="head">Become an E-Mart Customer</h1>
  <div class="para">Start using the E-Marketplace of Potato and become a part of E-Mart.A place where you can get your desired Quality potato</div>
  </div>
  <div class="image">
      <img src="https://www.pngkey.com/png/full/443-4433352_ecommerce-websites-online-marketplace-icon.png" alt="" width="360px" height="360px">
</div>
</div>

<div class="box-content">
<div class="box">
  <div class="h">
      <h1 class="pad">100%</h1>
      <p class="database">of India's serviceable pincodes are supported for delivery. </p>
  </div>
</div>
<div class="box">
  <div class="h">
      <h1 class="pad">Quality</h1>
      <p class="database">100% Fresh Quality Potato with different varities and different sizes.</p>
  </div>
</div>
<div class="box">
  <div class="h">
      <h1 class="pad">Easy Transport</h1>
      <p class="database">Easy Transportation of the potato from one place to another</p>
  </div>
</div>
</div>

<span class="sp">Why should People choose E-Marketplace?</span>

<div class="dart">
<div class="cont">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcTlX_byhEYe8gJEM5in7TUFm_AlEl3rvgiA&usqp=CAU" alt="" width="100px" height="100px">
  <h2 class="data">Highly Secured</h2>
  <p class="par">Transactions would be between sellers and buyers for safe transactions.</p>
</div>

<div class="cont">
  <img src="https://img.freepik.com/premium-photo/home-gear-icon-3d-render-illustration_567294-3273.jpg" alt="" class="pic" width="100px" height="100px">
  <h2 class="data">Ease of making transactions</h2>
  <p class="par">Transactions can be done easily between the buyer and sprodeller.</p>
</div>

<div class="cont">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPpTvPYJSQ4PbOGEtp-DT68Feiz-YydnPBYwgo0LjaWxoMP2ZSFcbZsXUQLoJikZjgguk&usqp=CAU" alt="" class="pic" width="100px" height="100px">
  <h2 class="data">Purchase from all over India</h2>
  <p class="par">Buyer and Seller can directly purchase from one another all over India.</p>
</div>

<div class="cont">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw9fsj8bcF-1-kg1x5YApthbncfE74KGZ8Ww&usqp=CAU" alt="" class="pic" width="120px" height="120px">
  <h2 class="data">Making the business on</h2>
  <p class="par">The business of Fresh Quality Potato is for the traders and vendores to purchse Fresh Quality Potato.  </p>
</div>
</div>


<div class="start">
  <div class="disp">
   <h1 class="sales">Start your journey with Us</h1>
   <hr>
   <br>
   <p class="text">" Whether you are searching for any variety of potato for the very first time and you are doing it from the very beginning, It's very good to be our customer for you. .... has a wide range of options to help you and to find a good and fresh variety of potato." </p></div>
   <p class="video">
      <video src="https://www.pexels.com/video/person-getting-a-potato-from-a-metal-basket-7876690" width="400px" height="350px" controls></video>
   </p>
</div>

<%- include('./includes/end.ejs') %>